.formulario{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows:30% 30% 30% ;  
    grid-row-gap: 10px;
    grid-column-gap: 10px;  
    background-color: #F1F1ED;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    font-size: 2rem;
}

.mapa{
     width: 40%;
}
@media only screen and (max-width:1325px) {
    .formulario{
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows:3fr 2fr 1% ;
        justify-content:center;
        align-content: center;
        overflow: hidden;
        font-size: 1rem;
   
   }
   
   .mapa{
        width: 100%;
   }
@media only screen and (max-width:1135px) {
    .formulario{
         display: grid;
         grid-template-columns: 70%;
         grid-template-rows:3fr 2fr 1% ;
         justify-content:center;
         align-content: center;
         overflow: hidden;
         font-size: 1rem;
    }
}
   }