/* inicio index home. alcaraión las imagenes no llevan precio por desición del cliente*/
h1{
    color: white;
    display: flex; 
    justify-content: center;
    font-family: handlee;
    font-weight: lighter;
    font-size: 250%;
    text-align: center;
    background-image: linear-gradient(#616263, #251f1f);
    margin-bottom: 0%;
    height: 2%;
  

}

.SECTION{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F1F1ED;
    
}



#img__size{
    width: 62%;
    height: 93%;
    border: 1px solid slategrey;
    box-shadow: 0 .5rem 1rem rgb(43, 40, 40);
} 

#img__size:hover{
    border: 2px solid slategrey; 
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.5);
    filter: opacity(.8);
    filter: sepia(.5);
    cursor: pointer;
}

.lightbox{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    transform: translate(-100%);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in;
}

.lightbox__move{
    transform:translateX(0);
}
.lightbox__show{
    height: 60%;
    width: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    transform:scale(0);
    transition: transform .2s .4s;
    box-shadow: 0px 1px 6px 2px #fffdfd;
    border: 1px solid grey;
    
}
.lightbox__scale{
    transform: scale(1);
}



.lightbox__p{
    position: fixed;
    color: white;
    bottom: 40px;
    font-size: 362%;
    font-family: 'Zeyada';
}

.bx.bx-x{
    position: absolute;
    color: white;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


@media screen and (min-width:1326px) {     
    *{
         margin: 0;
         padding: 0;
         
}
    
    html {
         font-size: 62.5%;
}
.aside__contenedor{
    position:absolute;
    width: 98vw;
    height: 4vh;
        
}

.aside__boton{
    position: fixed;
    width: 11%;
    height: 28%;
    margin-left: 87%;
    margin-top: -163%; 
    color: none;
    border-color: none;
    padding: 2%;
}

.aside__boton__estilo{
    font-family: zeyada;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 300%;
    padding:0%;
    line-height:0.5;
    
}
}
@media only screen and (max-width:1325px) {
    h1{
        font-size: 155%;
   }
   .lightbox__p{
    bottom: 25px;
    font-size: 207%; 
   }
} 
/* fin idex home*/