h1{
    color: white;
    display: flex; 
    justify-content: center;
    font-family: handlee;
    font-weight: lighter;
    font-size: 250%;
    background-color:rgba(124, 79, 56, 0.2);
    text-align: center;
    background-image: linear-gradient( #16222a,#3a6073);
    margin-bottom: 0%;
  

}

.SECTION{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 18% 18% 18% 18% 18%;  
    grid-row-gap: 1.5%;
    grid-column-gap: 2%;  
    background-color: #F1F1ED;
    justify-content: center;
    align-content: center;
    box-shadow: blue;
    
}

img{
    display:grid;
    justify-self: center;
    height: 100%;
    width: 100%;
}

@media screen and (min-width:1326px) {     
    *{
         margin: 0;
         padding: 0;
         
}
    
    html {
         font-size: 62.5%;
}
.aside__contenedor{
    display:flex;
    position:absolute;
    width: 98vw;
    height: 4vh;
        
}

.aside__boton{
    position: fixed;
    display: flex;
    justify-content: end;
    width: 11%;
    height: 82%;
    margin-left: 82%;
    margin-top: -142%; 
    color: none;
    border-color: none;
    padding: 2%;
}

.aside__boton__estilo{
    font-family: zeyada;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 300%;
    padding:0%;
    line-height:0.5;
    
}
}
@media only screen and (max-width:1325px) {
    h1{
        font-size: 155%;
   }
} 
