.nosotros__contenedorParrafo{
      height: 100%;
      width: 100%;
}        

.nosotros__texto{
     display: inline-block;
     font-size: 2rem;
     font-family: mandali;
     letter-spacing: 1.5px;
     text-align:justify;
     color: hsl(0, 8%, 27%);
     margin:2% 25%;
        
}